.page-payment {

  .payment-loading-container, .payment-result-container {
    text-align: center;
    margin-top: 80px;
  }

  .payment-status-text {
    margin-top: 10px;
  }

  .payment-result-icon {
    font-size: 80px;
    color: #15b0a3;
  }
}
