@import 'include/flexbox';
@import 'include/bankicons';

.alert-dialog-title-center {
  padding: 10px;
  text-align: left;
}

.alert-dialog-right {
  color: #7183e2;

}


.page-bind-bankcard {
  .select-card-tip{
    font-size: 13px;
    color: #adadad;
    margin-top: 12px;
    margin-left: 20px;
    margin-bottom: 20px;
  }
  .valid-suc {
    background-image: url('~images/icon_validate_suc.png');
    background-size: 100% auto;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
  }
  .valid-error {
    background-image: url('~images/icon_validate_error.png');
    background-size: 100% auto;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
  }
  .bind-card-tip {
    color: #666666;
    margin-top: 15px;
    margin-bottom: 33px;
    font-size: 13px;
    margin-left: 15px;
  }
  .bind-card-sendsms {
    color: #2e69c6;
    background-color: white;
  }
  .send-disable {
    color: #999999;
  }
  .bind-card-txt {
    color: #333333;
    width: 25%;
  }
  .bind-card-idcard-display {
    display: none;
  }
  .bind-card-idcard-no {
    color: #999999;
    .idcard-img {
      background-image: url('~images/icon_idcard.png');
      background-size: 100% auto;
      background-repeat: no-repeat;
      width: 25px;
      height: 25px;
      margin-right: 10px;
    }
  }
  .bankcardimg {
    transform: scaleX(0.8) scaleY(0.8);
    -ms-transform: scaleX(0.8) scaleY(0.8);
    -moz-transform: scaleX(0.8) scaleY(0.8);
    -webkit-transform: scaleX(0.8) scaleY(0.8);
    -o-transform: scaleX(0.8) scaleY(0.8);
  }
  .bind-card-idcard-name {
    color: #333333;
    font-weight: bold;
    width: 25%;
  }
  .validate-error-tip {
    background: #f7f7f7;
    text-align: right;
    color: #df4141;
    padding: .5rem .75rem;
    font-size: small;
  }
  .bind-card-submit {
    width: 90%;
    margin: auto;
  }
  .bind-card-input {
    color: #333333;
    -webkit-input-placeholder {
      color: #d6d6d6;
    }
    -moz-placeholder {
      color: #d6d6d6;
    }
    /* firefox 19+ */
    -ms-input-placeholder {
      color: #d6d6d6;
    }
    /* ie */
    -moz-placeholder {
      color: #d6d6d6;
    }
  }
}