.page-job-info {
  .page__content {
    background-color: #f9f9f9 !important;
  }

  .list__form + .list__form {
    margin-top: 20px;
  }

  .list__form .list__item {
    margin: 1px 0 -1px 0;
  }
}
