.page-agreement {
  .user-service {
    padding: 10px;
    height: 100%;
    overflow-y: auto;
    .tos-title {
      text-align: center;
    }
    .text-right {
      text-align: right;
    }
    .text-center {
      text-align: center;
    }
    .baseline-long, .baseline-short {
      display: inline-block;
      width: auto;
      border-bottom: 1px solid rgb(61, 65, 69);
    }

    .baseline-long {
      min-width: 80px;
    }

    .baseline-short {
      min-width: 30px;
    }

    table.tos-table {
      width: 100%;
      margin: 4px 0;
      font-size: 12px;
      border-collapse: collapse;
      border-spacing: 0;
      th,td {
        border: 1px solid rgb(61,65,69);
        padding: 2px 6px;
      }

      td {
        text-align: left;
      }

      .label {
        width: 35%;
      }

      &.repayment-plan {
        .term {
          width: 25%;
        }
      }
    }

  }

}
